body {
    background-color: #f4f8fc;
    color: #132d40;
    font: 400 16px/1.5 Montserrat, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 150px 0 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.container:before,
.container:after {
    content: '';
    display: table;
}

.container:after {
    clear: both;
}

h1 {
    color: #5e7180;
    margin: 0.5em 0;
}

h1 small {
    color: #7bb0d7;
    font-size: 50%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table th,
table td {
    border-bottom: 2px solid #c7ddee;
    font-weight: 700;
    overflow: hidden;
    padding: 0.25em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th {
    background-color: #e5eff7;
}

table td {
    background-color: #fff;
    border-bottom: 1px solid #d6e6f3;
    font-weight: 400;
}

table tbody tr td:nth-child(2) {
    color: #7bb0d7;
}

table tbody tr td:nth-child(4) {
    padding-right: 0.75em;
    white-space: normal;
}

button {
    background-color: #3f8cc5;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 75%;
    line-height: 2.5;
    outline: 0;
    text-transform: uppercase;
}

button:hover{
    background: #1a7bc4;
}

.buttons {
    text-align: right;
}